PORT=XXXX

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
JWT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXX
JWT_EXPIRATION="XX"
RAZOR_PAY_KEY_ID=XXXXXXXXXXXXXXXXXX
RAZOR_PAY_KEY_SECRET=uNXXXXXXXXXXX
# Window size 60 secs
THROTTLE_TTL=60000
# Max 100 reqs with TTL
THROTTLE_LIMIT=100